body {
    background-color: aquamarine;
}

.frameworks-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
}

.frameworks-list-item > p {
    margin-left: 15px;
    background-color: yellow;
    border: 1px solid black;
}